/*Responsive general*/

body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: #1b1717;
    width: 100%;
    margin-top: -10px;
    position: fixed;
}

.logo {
    width: 400px;
    position: relative;
}

body #firstPage {
    background-image: url(https://img.freepik.com/fotos-premium/acuarela-color-rojo-oscuro-textura-fondo-pintado-mano-fondo-color-vino-tinto-acuarela_145343-192.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
}

#firstPage {
    display: flex;
    justify-items: center;
    flex-direction: column;
    display: block;
}

#firstPage h2 {
    color: #eeebdd;
    font-size: 200%;
    text-decoration: overline underline;
}

body #secondPage {
    display: none;
    background-image: url(https://t3.ftcdn.net/jpg/02/62/65/94/360_F_262659482_VlaoEev3591eBpMOROqIbc92G7iqc8nx.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#spellsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #1b1717;
    margin-left: 0px;
    margin-top: 5%;
    column-gap: 5%;
    row-gap: 10px;
    padding-bottom: 5%;
}

.charactersPic {
    padding-top: 25%;
    width: 40%;
    height: 40%;
}

.aboutSpell p {
    text-align: center;
    color: #eeebdd;
    background-color: rgba(27, 23, 23, 0.4);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 30px;
}

#spellsButton {
    color: #630000;
    font: bold;
    font-size: 25px;
    border: #630000;
    width: 110px;
    height: 40px;
    background-color: #eeebdd;
    margin-bottom: 10%;
    border-radius: 20px;
    border: thick double;
}

#secondPage h2 {
    color: #630000;
    margin-top: 0;
    padding-top: 17%;
    text-align: center;
    font-size: 50px;
}

#filterSelect {
    color: #630000;
    font: bold;
    font-size: 20px;
    border: #630000;
    width: 140px;
    height: 40px;
    background-color: #eeebdd;
    margin-top: 3%;
    border-radius: 20px;
    margin-left: 0;
    text-align: center;
    border: thick double;
}

.cardMessage {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    background-color: #630000;
    opacity: 0.7;
    font-size: 30px;
    font: bold;
    color: #eeebdd;
    padding-top: 3%;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 10px;
}

#sortSelect {
    color: #630000;
    font: bold;
    font-size: 20px;
    border: #630000;
    width: 140px;
    height: 40px;
    background-color: #eeebdd;
    margin-top: 3%;
    border-radius: 20px;
    margin-left: 0;
    text-align: center;
    border: thick double;
}

.sortBar {
    flex-direction: row;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.card {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background: #eeebdd;
    border: thick double;
    border-color: #1b1717;
}

.cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.spellsPic {
    height: 150px;
    width: 200px;
}

.cardText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardText h4 {
    margin-bottom: 0;
    margin-top: 6px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 110px;
    right: 20px;
    display: none;
    cursor: pointer;
}

#btn-back-to-top i {
    text-decoration: none;
    color: #630000;
    font-size: 50px;
    opacity: 0.9;

}

#btn-back-to-top:active {
    transform: scale(0.9);
}


/* Estilando el footer */

footer {
    background-color: #1b1717;
    width: 100%;
}

footer h3 {
    color: beige;
    text-align: center;
    margin: 0;
    text-decoration: underline;
    padding-top: 1%;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0%;
}

footer ul li {
    color: beige;
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin: 0;
}

i {
    color: beige;
    font-size: 30px;
    display: flex;
    margin-top: 15%;
    margin-right: -20%;
}

.footerBar {
    background-color: #eeebdd;
    text-align: justify;
    font-size: small;
    color: #630000;
    margin-bottom: 0;
    padding-bottom: 0;
}


/*Responsive mobile*/

@media (min-width: 320px) and (max-width: 767px) {

    .logo {
        width: 150px;
        padding-top: 2%;
    }

    body #firstPage {
        background-image: url(https://img.freepik.com/fotos-premium/acuarela-color-rojo-oscuro-textura-fondo-pintado-mano-fondo-color-vino-tinto-acuarela_145343-192.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: 0px;
        margin-right: 0px;
        height: 767px;
    }

    .charactersPic {
        padding-top: 42%;
        width: 60%;
        height: 60%;
    }

    .aboutSpell p {
        text-align: center;
        color: #eeebdd;
        background-color: rgba(27, 23, 23, 0.4);
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 15px;
    }

    #secondPage h2 {
        color: #630000;
        margin-top: 0;
        padding-top: 25%;
        text-align: center;
        font-size: 30px;
    }

    #spellsButton {
        color: #630000;
        font: bold;
        font-size: 20px;
        border: #630000;
        width: 110px;
        height: 40px;
        background-color: #eeebdd;
        margin-bottom: 10%;
        border-radius: 20px;
        border: thick double;
    }

    #filterSelect {
        color: #630000;
        font: bold;
        font-size: 12px;
        width: 115px;
        height: 30px;
        background-color: #eeebdd;
        margin-bottom: 2%;
        margin-top: 3%;
        border-radius: 20px;
        margin-left: 33%;
        text-align: center;
    }

    .cardMessage {
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        background-color: #630000;
        opacity: 0.7;
        font-size: 15px;
        font: bold;
        color: #eeebdd;
        padding-top: 3%;
        margin-left: 25px;
        margin-right: 25px;
        border-radius: 10px;
    }

    #sortSelect {
        color: #630000;
        font: bold;
        font-size: 12px;
        width: 115px;
        height: 30px;
        background-color: #eeebdd;
        border-radius: 20px;
        margin-left: 33%;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .sortBar {
        flex-direction: column;
        display: flex;
        justify-content: center;

    }


}

/*Responsive Tablet, ipad and "mini" laptop*/

@media (min-width: 768px) and (max-width: 1024px) {


    .logo {
        width: 250px;
        margin-top: 1%;
    }

    .charactersPic {
        padding-top: 20%;
        width: 40%;
        height: 40%;
    }

}